@charset "utf-8";

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 10%;
}

.input_posturl {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: .8em;
    border-radius: 2em;
    border: 1px solid #aaa;
}
