@charset "utf-8";

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.input_posturl {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: .8em;
    border-radius: 2em;
    border: 1px solid #aaa;
}

.form_line {
    width: 100%
}

.line_title {
    display: inline-block;
    width: 3em;
}

.form {
    display: inline-block;
}

.submit {
    margin-top: 10px;
}

.btn-square-shadow {
    font-size: 100%;
    margin-top: 10px;
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: 1px solid #aaa;
    border-radius: 2em;
}

.btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(1px);
    transform: translateY(1px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
